@media (min-width: 1200px) {
    .container-black {
        max-width: 1920px;
        height: 100%;
        max-height: 970px;
        min-height: 400px;
    }
    .container-gallery {
        max-width: 1640px;
    }
    .black-title {
        padding-top: 485px;
    }
}

.container-gallery .gallery {
    margin-bottom: 80px;
}

.black-background {
    background-image: url(../image/Black/Black_header.jpg);
    max-height: 970px;
    height: 970px;
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    margin-bottom: 150px;
    background-position: center top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
}

.black-title {
    text-align: center;
    color: white;
    font-family: 'Monument Extended';
    font-size: 59pt;
    height: 970px;
}

.piranha-black {
    font-size: 59pt;
    text-transform: uppercase;
    margin-bottom: 82px;
    text-align: center;
    font-family: Monument Extended;
}

.piranha-black-subtitle {
    font-size: 37pt;
    margin-bottom: 82px;
    text-align: center;
    font-family: serif;
}

.button-join {
    text-align: center;
    text-transform: uppercase;
    border: 3px solid black;
    border-radius: 30px;
    background-color: white;
    padding: 8px 40px;
    font-weight: 700;
    margin-bottom: 100px;
}

.member-block {
    min-width: 260px;
    margin-bottom: 82px;
}

.member-block .pontos {
    margin-bottom: 5px;
}

.member-block div:nth-last-child(2) {
    margin-bottom: 82px;
}

.member-block .member-button {
    max-width: 260px;
}

.member-block .member-button button {
    margin-right: auto;
    margin-left: auto;
}

.member-only {
    font-family: Monument Extended;
    font-size: 37pt;
    text-align: center;
}

.member-desc {
    text-align: center;
}

.residents-block {
    background-color: black;
    height: 100%;
}

.list {
    font-family: Monument Extended;
    font-size: 37pt;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: auto;
    padding-top: 80px;
}

.list-descr {
    text-align: center;
    color: white;
}

.button-list {
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: 3px solid white;
    border-radius: 30px;
    padding: 8px 46px;
    margin: 20% 0;
}


/* RESPONSIVIDADE*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .black-background {
        margin-bottom: 93.75px;
    }
    .black-title {
        font-size: 36.88pt;
    }
    .piranha-black {
        font-size: 36.88pt;
        margin-bottom: 51.25px;
    }
    .piranha-black-subtitle {
        font-size: 23.13pt;
        margin-bottom: 51.25px;
    }
    .member-block div:nth-last-child(2) {
        margin-bottom: 51.25px;
    }
    .button-join {
        margin-bottom: 62.5px;
    }
    .member-only {
        font-size: 23.13pt;
    }
    .button-respons {
        max-width: 50%;
    }
    .list {
        padding-top: 50px;
    }
    .button-list {
        padding: 8px 34px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .black-background {
        margin-bottom: 77.5px;
    }
    .black-title {
        font-size: 30.48pt;
    }
    .piranha-black {
        font-size: 30.48pt;
        margin-bottom: 42.37px;
    }
    .piranha-black-subtitle {
        font-size: 19.12pt;
        margin-bottom: 42.37px;
    }
    .member-block div:nth-last-child(2) {
        margin-bottom: 42.37px;
    }
    .button-join {
        margin-bottom: 51.67px;
    }
    .member-only {
        font-size: 19.12pt;
    }
    .button-respons {
        max-width: 50%;
    }
    .list {
        padding-top: 41.33px;
    }
    .button-list {
        padding: 8px 34px;
    }  
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .black-background {
        margin-bottom: 60px;
    }
    .black-title {
        font-size: 23.6pt;
    }
    .piranha-black {
        font-size: 23.6pt;
        margin-bottom: 32.8px;
    }
    .piranha-black-subtitle {
        font-size: 14.8pt;
        margin-bottom: 32.8px;
    }
    .member-block div:nth-last-child(2) {
        margin-bottom: 32.8px;
    }
    .button-join {
        margin-bottom: 40px;
    }
    .button-respons {
        max-width: 50%;
    }
    .member-only {
        font-size: 14.8pt;
        margin-bottom: 2%;
    }
    .member-desc {
        font-size: 9pt
    }
    .list {
        padding-top: 32px;
    }
    .button-list {
        padding: 8px 16px;
        font-size: 9pt;
    }
}

@media only screen and (max-width: 576px) {
    .black-background {
        margin-bottom: 45px;
    }
    .black-title {
        font-size: 17.7pt;
    }
    .piranha-black {
        font-size: 17.7pt;
        margin-bottom: 24.6px;
    }
    .piranha-black-subtitle {
        font-size: 11.1pt;
        margin-bottom: 24.6px;
    }
    .member-block div:nth-last-child(2) {
        margin-bottom: 24.6px;
    }
    .button-join {
        margin-bottom: 30px;
    }
    .member-only {
        font-size: 11.1pt;
    }
    .button-respons {
        max-width: 33%;
    }
    .member-desc {
        margin-bottom: 5%;
    }
    .list {
        padding-top: 24px;
    }
    .img-respons {
        margin-bottom: 5%;
    }
}