.blog-container {
    max-width: 1400px;
    margin: auto;
}

.blog-image {}

.blog-title {
    text-align: center;
    font-size: 26px;
    margin: 15px 0px 5px;
}

.blog-sub-title {
    text-align: center;
    color: grey;
    font-size: 14px;
}

.blog-content {
    margin-top: 10%;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20%;
}

.blog-meta {
    max-width: 1200px;
    margin: auto;
}

.blog-meta .meta {
    float: left;
}

.blog-meta .meta .tag-title {
    font-size: 18px;
    font-weight: bold;
    /* width: 100%; */
}

.blog-meta .meta .tags {}

.blog-meta .meta .tags span {
    margin-right: 25px;
}

.blog-meta .socials {
    font-size: 26px;
    float: right;
}

.blog-meta .socials a,
.blog-meta .socials a:hover {
    color: black;
    float: right;
    margin-left: 25px;
}

.blog-related {}

.blog-related .title-related {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
}

.blog-related .image-realted {
    background: black;
    height: 300px;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.blog-related .name-related {
    text-align: center;
}