/* Helvetica */

@font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/helveticaneue/HelveticaNeue.ttf);
}


/* Resavska */

@font-face {
    font-family: Resavska;
    src: url(../fonts/resavska/ResavskaBG.otf);
}


/* MonumentExtended

https://www.dafontfree.io/download/monument-extended/ */

@font-face {
    font-family: Monument Extended;
    src: url(../fonts/monumentextended/MonumentExtendedRegular.otf);
}


/* minimum 14px maximum 22 */

body {
    /* font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))); */
    overflow-x: hidden;
    /* animations */
}