.btn-aceptar {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
}

.footer-background {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: .3rem;
    background-color: #f7f7f7;
}

.footer .social-icons {
    margin-right: 5px;
}

@media (min-width: 1200px) {
    .container-footer {
        max-width: 1920px;
    }
}

.footer .join-now-form {
    width: auto;
    display: flex;
}

.footer .join-now-form input {
    background-color: #f7f7f7;
    height: 45px;
    flex-grow: 0;
    flex-basis: 200px;
}

.footer .button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    padding: 10px 15px;
    margin-left: 10px;
}

.footer .currency {
    margin-top: 10px;
}

.footer .currency button {
    border: 2px solid #eaeaea;
}

.footer .currency .dropdown-menu,
.footer .currency .dropdown-menu>.dropdown-item:hover {
    background-color: #f7f7f7;
}

.footer .footer-links {
    list-style: none;
    padding: 0px;
}

.footer .footer-links li {
    margin-bottom: 5px;
}

.button-ok {
    background-color: black;
}

@media (max-width: 767.98px) {
    .footer {
        text-align: center !important;
    }
    .footer .join-now-form {
        width: fit-content;
        margin: auto;
    }
}