.product-page-main-container {
    background-color: #f7f7f7;
    padding: 15px 15px;
}

.product-page-info-box-container>* {
    padding: 0 0 16px;
}

@media only screen and (min-width: 768px) {
    .product-page-main-container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: space-between;
        padding: 30px 40px;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 768px) {
    .product-page-info-box {
        width: 540px;
    }
}

.product-page-info-box {
    -ms-flex-negative: 0;
    flex-shrink: 1;
    position: relative;
    order: 2;
}

.product-page-info-box-container {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .product-page-info-box-container {
        width: 550px;
        position: relative;
        background-color: white;
        padding: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .product-page-main-container {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    .product-page-title {
        display: block;
        text-align: center;
    }
    .product-page-sub-title {
        display: block;
        text-align: center;
    }
    .product-page-excerpt {
        padding: 10px 10px 10px 10px;
    }
}

.product-page-title {
    margin: 0;
    font-family: 'Monument Extended';
    font-size: 21pt;
    font-weight: bold;
}

.product-page-sub-title {
    font-size: 16px;
}

.product-page-more-details {
    letter-spacing: 1px;
    display: inline-block;
    line-height: 1;
    text-decoration: underline;
}

.radios-container {
    display: flex;
    flex-wrap: wrap;
}

.radios-input[type=radio] {
    opacity: 0;
    width: 1px;
    height: 1px;
    margin: 0;
}

.radios-main {
    align-items: center;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 63px;
    line-height: 24px;
    margin-left: -1px;
    padding-bottom: 16px;
    padding-right: 16px;
    text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
    text-size-adjust: 100%;
}

.radios-value-button {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    cursor: default;
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    height: 47px;
    letter-spacing: 1px;
    line-height: 24px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 96.9062px;
}

.radios-value-button>* {
    border: 2px solid #eaeaea;
    color: black;
    line-height: 43px;
    height: auto;
    background: 0 0;
    text-align: center;
    border-radius: 25px;
}

.radios-swatch-button {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    padding-bottom: 0;
    background-size: cover;
}

.product-form-price {
    font-family: Helvetica;
    font-size: 22pt;
    font-weight: bold;
}

.product-form-button-container {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px
}

.product-form-add-to-cart {
    width: 100%;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-form-buy-it-now {
    width: 100%;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 17%;
    text-transform: uppercase;
}

.social-share-link {
    color: black;
    font-size: 32px;
    margin-right: 20px;
}

.social-share-link:hover {
    color: #000;
}

.product-page-thumbs .thumbs {
    display: flex;
    flex-direction: column;
}

.product-card {
    margin-left: auto;
    margin-right: auto;
    order: 1;
    margin-bottom: 20px;
}

.product-card .product-card-body {
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    background: black;
    border-radius: 5px;
    min-height: 200px;
}

.product-card .brand-card {
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: bold;
    top: 5px;
}

.product-card .name-card {
    position: absolute;
    top: 70px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    left: 10px;
}

.product-card .price-card {
    position: absolute;
    color: white;
    right: 10px;
    top: 160px;
}

@media only screen and (min-width: 1024px) {
    .product-page-info-box {
        width: 510px;
    }
    .product-page-info-box {
        order: 1;
    }
    .product-card {
        order: 2;
    }
}