.header {
    background-color: white;
    color: black;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    -khtml-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header .logo {
    width: 14px;
    height: auto;
    margin-left: 14px;
}

.header .brand {
    max-height: 19px;
    height: 100%;
    width: auto;
}

.menu .nav-link {
    /* font-family: Monument Extended; */
    text-transform: uppercase;
    font-size: 14px;
}

.header .sidebar {}

.header .right-sidebar.collapsing .content {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -45%;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header .right-sidebar.show .content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    height: auto;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 900;
    min-height: 100vh;
    width: 80%;
    max-width: 400px;
    background-color: white;
    z-index: 201;
}

.header .left-sidebar.collapsing .content {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -45%;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header .left-sidebar.show .content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    height: auto;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 900;
    min-height: 100vh;
    width: 80%;
    max-width: 400px;
    background-color: white;
    z-index: 201;
    overflow-y: auto;
}

.header .left-sidebar.show .content .nav-item {
    color: black;
    border-bottom: 1px solid #cdcfd2;
    text-transform: uppercase;
    font-size: 13px;
}

.header .left-sidebar.show .side-bar-menu li:not(.dl-subviewopen) {
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.header .left-sidebar.show .search-link {
    padding: 32px 16px
}

.header .left-sidebar.show .content .btn-book-session {
    margin: 30px 10px;
    width: calc(100% - 20px);
}

.header .left-sidebar.show .content .nav-item .nav-link {
    color: #000;
}

.header .sidebar .sidebar-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    z-index: 200;
    top: 0;
    left: 0;
}

.search-modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 500;
    top: 0;
    left: 0;
}

.search-modal input {
    height: 50px;
    line-height: 45px;
    width: calc(100% - 100px);
    margin-left: 32px;
    margin-top: 16px;
    font-size: 22px;
    border: none;
}

.search-modal input:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.search-modal .search-toggle {
    padding: 10px;
    color: #212529;
    margin-top: 16px;
    font-size: 20px;
}

.btn-book-session {
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 12px;
    font-weight: bold;
}

.btn-book-session:hover,
.btn-book-session:active {
    background-color: black;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.navbar-secondary {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0;
}

.navbar-secondary>.first {
    width: 90px;
    color: black;
}

.navbar-secondary .nav-link {
    color: black;
}

.navbar-secondary .shop-navbar {
    display: none;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    visibility: visible;
}

.megamenu {
    position: static;
}

.megamenu .dropdown-menu {
    display: none;
    visibility: hidden;
    border-top: 1px solid #ccc !important;
    width: 100%;
}

.megamenu .dropdown-padding.nav-link {
    padding: 12px 32px;
}

@media (max-width: 576.98px) {
    .navbar-primary .brand-navbar-logo {}
    .navbar-primary .brand-navbar {
        order: 1;
        margin: auto;
    }
    .navbar-primary .shop-navbar {
        order: 3;
        width: 28px;
    }
    .menu>.navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 20px;
    }
    .search-icon {
        display: none;
    }
    .menu>.navbar-nav {
        display: none;
    }
    .navbar-secondary>.first {
        width: 40px;
    }
    .navbar-primary .shopping-icon {
        display: none;
    }
    .navbar-secondary .shop-navbar {
        display: block;
    }
}

@media (max-width: 767.98px) {
    .navbar-secondary>.first {
        width: 40px;
    }
    .navbar-secondary .menu {
        display: none;
    }
}

@media (min-width: 576px) {
    .menu>.navbar-nav>.nav-item>.nav-link {
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 16px;
    }
}

.megamenu h6.dropdown-padding {
    padding: 12px 32px;
}

.megamenu .first-col {
    border-right: 1px solid black;
    margin-right: 32px;
    margin-bottom: 40px;
    margin-top: 20px;
}