.home .home-intro {
    min-height: 100vh;
    height: 100vh;
    animation: opac 0.8s;
}

@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.home .home-banner {
    background-color: #212529;
    color: white;
    width: 100%;
    margin: 0;
}

.home .home-banner .home-banner-text {
    margin: 10px auto;
}

.home .home-intro .intro {
    background-image: url(../image/Home/home.jpg);
    height: calc( 100vh - 160px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-attachment: fixed;
}

.home .container-big-title {
    max-height: 774px;
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.home .container-big-title .big-title {
    font-family: Monument Extended;
    font-size: 59pt;
    line-height: 1;
    text-align: center;
    margin: 15% auto;
}

.home .container-medium {
    max-width: 1250px;
    width: 100%;
    margin: auto;
}

.home .container-blog .item-blog {
    max-height: 620px;
    min-height: 500px;
    height: calc(500px + (620 - 500) * ((100vw - 300px) / (1600 - 300)));
}

.home .container-blog .item {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 100%;
}

.home .container-blog .item.item-1 {
    background-image: url(../image/Home/Story_home.jpg);
}

.home .container-blog .item.item-2 {
    background-image: url(../image/Home/Story_home_2.jpg);
}

.home .container-blog .item-blog .meta-blog {
    position: absolute;
    bottom: 10px;
    left: 60px;
    color: white;
    font-size: 20pt;
    font-family: Helvetica Neue;
    width: 80%;
}

.home .container-blog .item-blog .meta-blog .btn-blog {
    color: black;
    background-color: white;
    font-size: 18pt;
    font-weight: bold;
    font-family: Helvetica Neue;
    border-radius: 30px;
    width: 190px;
    margin-top: 10px;
}

.home .container-booking {
    margin: 106px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.btn-custom-dark {
    background: black;
    color: white;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 18pt;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    padding: 5px 30px;
    letter-spacing: 0.05em;
}

.btn-custom-white {
    background: white;
    color: black;
    border-radius: 25px;
    text-transform: uppercase;
    /* font-size: 18pt; */
    font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    font-family: 'Helvetica Neue';
    padding: 5px 20px;
    letter-spacing: 0.15rem;
}

.home .container-large {
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

.home .container-statement {
    background-color: black;
    color: white;
}

.home .statement {
    padding-top: 165px;
    padding-bottom: 168px;
    font-size: 38pt;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    margin: 0;
    letter-spacing: 0.05em;
}

.international-title {
    padding-bottom: 150px;
}

.container-fluid.container-statement p:nth-child(1) {
    margin-bottom: 7%;
}

.container-fluid.container-statement p {
    margin-bottom: 1%;
}

.container-statement .btn-meet-studio {
    margin-bottom: 69px;
}

@media (max-width: 768px) {
    .container-booking>div {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .container-booking>div:nth-child(1) .btn-custom-dark {
        float: right;
    }
    .container-booking>div:nth-child(2) .btn-custom-dark {
        float: left;
    }
}

.home .container-store {
    background-color: #f7f7f7;
    text-align: center;
}

.home .container-store-services {
    background-color: white;
    text-align: center;
}

.home .container-store .sub-container-store {
    width: 100%;
    margin: auto;
}

.home .container-store-services .title-own,
.home .container-store .title-own {
    margin: auto;
    font-size: calc(30px + (65 - 30) * ((100vw - 300px) / (1600 - 300)));
    margin: 0 auto;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    padding-top: 200px;
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    .home .container-store-services .title-own.trigger-animation,
    .home .container-store .title-own.trigger-animation {
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        /* Gives that scrolling effect as the typing happens */
        font-weight: bold;
        letter-spacing: 0.05em;
        /* Adjust as needed */
    }
}

.home .container-store-services .sub-title,
.home .container-store .sub-title {
    font-family: 'Helvetica Neue';
    font-size: 18pt;
    font-weight: bold;
    padding-bottom: 40px;
}

.home .home-cards {
    max-width: 1200px;
    margin: auto;
}

.home .home-cards .home-card {
    padding: 0;
}

.home .home-cards .home-card .product {
    margin-right: 15px;
}

.home .home-cards .home-card:last-child .product {
    margin-right: 0px;
}

.home .home-cards .home-card .product-meta {
    width: 100%;
    padding-right: 15px;
    font-weight: bold;
    font-size: 18pt;
}

.product-meta-2 {
    font-size: 18pt;
    font-weight: lighter;
}

.home .home-cards .home-card:last-child .product-meta {
    padding-right: 0px;
}

.sub-container-store.shop {
    padding-top: 69px;
    padding-bottom: 87px;
}

.sub-container-store.services {
    padding-top: 20px;
    padding-bottom: 60px;
}

.home .container-banner {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 120px;
}

.home .container-banner>div {
    margin: auto;
}

.home .container-banner img {
    width: 100%;
}

.home .container-banner .title {
    font-weight: bold;
}

.container-manifesto {
    background-color: black;
    width: 100%;
}

.container-manifesto .title {
    text-align: center;
    color: white;
    font-size: calc(30px + (65 - 30) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Monument Extended';
    font-weight: bold;
    padding-top: 200px;
    padding-bottom: 69px;
    letter-spacing: 0.05em;
}

.container-manifesto .sub-title {
    text-align: center;
    color: white;
    padding-bottom: 1%;
    font-size: 30px;
    font-family: 'Helvetica Neue';
    letter-spacing: 12px;
}

.container-manifesto .red-text {
    color: red;
    text-align: center;
    font-size: 40px;
    font-family: 'Resavska';

}

.container-manifesto .button {
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding-bottom: 200px;
    padding-top: 69px;
}

.container-manifesto .button button {
    color: white;
    background-color: #13171a;
    border-radius: 25px;
    width: 100%;
    text-transform: uppercase;
}

.container-blog {
    max-width: 1400px;
    margin: auto;
}

.container-blog .sub-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 86px;
}

.container-blog .title {
    text-align: center;
    font-size: 49pt;
    font-family: serif;
    padding-bottom: 2%;
}

.container-blog .blogs {
    width: 100%;
}

.container-blog .blogs .blog-title {
    margin-top: 20px;
    line-height: 2;
}

.container-blog .blogs .readmore {
    text-decoration: underline;
    line-height: 2;
    color: black;
}

.container-blog-more {
    width: 100%;
    text-align: center;
    margin-top: 69px;
    margin-bottom: 200px;
}

.container-residents {
    background-color: #1c2745;
}

.container-residents>div {
    background-color: #1c2745;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1400px;
    margin: auto;
}

.container-residents .left-col {
    align-content: center;
    display: flex;
    flex-flow: column;
}

.container-residents .left-col>div {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.container-residents .title {
    text-align: center;
    /* font-size: 47px; */
    font-size: calc(34px + (43 - 34) * ((100vw - 300px) / (1600 - 300)));
    color: #d0e3fc;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 1.5;
    font-family: 'Monument Extended';
}

.container-residents .btn {
    margin-top: 25%;
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .container-residents .btn {
        margin-top: 10px;
    }
}

.container-residents .image {
    text-align: center;
    max-width: 820px;
}

.btn-custom-blue {
    background-color: #d0e3fc;
    color: #3188ec;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.container-instagram {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1400px;
    margin: auto;
    /* width: 100%; */
}

.container-instagram .sub-title {
    font-size: 20px;
    font-family: sans-serif;
}

.container-instagram .title {
    font-size: 30px;
    margin-bottom: 50px;
    font-family: serif;
}

.container-instagram>.row {
    width: 100%;
    margin: 0;
}

.container-instagram>.row>div {
    margin-top: 10px
}


/* RESPONSIVIDADE*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .home .container-big-title .big-title {
        font-size: 36.88pt;
        margin: 168.75px 0px !important;
        margin: auto !important;
    }
    .home .container-blog .item-blog .meta-blog {
        font-size: 12.5pt;
    }
    .home .container-blog .item-blog .meta-blog .btn-blog {
        font-size: 11.25pt;
    }
    .container-booking {
        margin: 66.25px 0px !important;
    }
    .btn-custom-dark {
        font-size: 11.25pt;
    }
    .home .statement {
        font-size: 23.75pt;
        padding-top: 103.125px !important;
        padding-bottom: 105px !important;
    }
    .international-title {
        padding-bottom: 93.75px !important;
    }
    .container-statement .btn-meet-studio {
        margin-bottom: 43.13px !important;
    }
    .home .container-store-services .title-own,
.home .container-store .title-own {
        padding-top: 125px !important;
        padding-bottom: 25px !important;
    }
    .home .container-store-services .sub-title,
.home .container-store .sub-title {
        font-size: 11.25pt;
        padding-bottom: 25px !important;
    }
    .home .home-cards .home-card .product-meta {
        font-size: 11.25pt;
    }
    .product-meta-2 {
        font: 11.25pt;
    }
    .sub-container-store.shop {
        padding-top: 43.13px !important;
        padding-bottom: 54.38px !important;
    }
    .sub-container-store.services {
        padding-top: 12.5px !important;
        padding-bottom: 37.5px !important;
    }
    .container-manifesto .title {
        padding-top: 125px !important;
        padding-bottom: 43.13px !important;
    }
    .container-manifesto .button {
        padding-top: 43.13px !important;
        padding-bottom: 125px !important;
    }
    .container-blog .title {
        font-size: 30.63pt;
    }
    .container-blog .sub-title {
        padding-top: 53.75px !important;
    }
    .container-blog-more {
        margin-top: 43.13px !important;
        margin-bottom: 125px !important;
    }
    .container-residents>div {
        padding: 50px 0px !important;
    }
    .container-instagram {
        padding: 125px 0px !important;
    }
    .container-instagram .title {
        font-size: 18.75px;
        margin-bottom: 31.25px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .home .container-big-title .big-title {
        font-size: 30.48pt;
        margin: 139.5px 0px !important;
        margin: auto !important;
    }
    .home .container-blog .item-blog .meta-blog {
        font-size: 10.33pt;
    }
    .home .container-blog .item-blog .meta-blog .btn-blog {
        font-size: 9.3pt;
    }
    .container-booking {
        margin: 54.76px 0px !important;
    }
    .btn-custom-dark {
        font-size: 9.3pt;
    }
    .home .statement {
        font-size: 19.63pt;
        padding-top: 85.25px !important;
        padding-bottom: 86.8px !important;
    }
    .international-title {
        padding-bottom: 77.5px !important;
    }
    .container-statement .btn-meet-studio {
        margin-bottom: 35.65px !important;
    }
    .home .container-store-services .title-own,
.home .container-store .title-own {
        padding-top: 103.33px !important;
        padding-bottom: 20.67px !important;
    }
    .home .container-store-services .sub-title,
.home .container-store .sub-title {
        font-size: 9.3pt;
        padding-bottom: 20.67px !important;
    }
    .home .home-cards .home-card .product-meta {
        font-size: 9.3pt;
    }
    .product-meta-2 {
        font: 9.3pt;
    }
    .sub-container-store.shop {
        padding-top: 35.65px !important;
        padding-bottom: 44.95px !important;
    }
    .sub-container-store.services {
        padding-top: 10.33px !important;
        padding-bottom: 31px !important;
    }
    .container-manifesto .title {
        padding-top: 103.33px !important;
        padding-bottom: 35.65px !important;
    }
    .container-manifesto .button {
        padding-top: 35.65px !important;
        padding-bottom: 103.33px !important;
    }
    .container-blog .title {
        font-size: 25.32pt;
    }
    .container-blog .sub-title {
        padding-top: 44.43px !important;
    }
    .container-blog-more {
        margin-top: 35.65px !important;
        margin-bottom: 103.33px !important;
    }
    .container-residents>div {
        padding: 41.33px 0px !important;
    }
    .container-instagram {
        padding: 103.33px 0px !important;
    }
    .container-instagram .title {
        font-size: 15.5px;
        margin-bottom: 25.83px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .home .container-big-title .big-title {
        font-size: 23.6pt;
        margin: 108px 0px !important;
        margin: auto !important;
    }
    .home .container-blog .item-blog .meta-blog {
        font-size: 8pt;
    }
    .home .container-blog .item-blog .meta-blog .btn-blog {
        font-size: 7.2pt;
    }
    .container-booking {
        margin: 42.4px 0px !important;
    }
    .btn-custom-dark {
        font-size: 7.2pt;
    }
    .home .statement {
        font-size: 15.2pt;
        padding-top: 66px !important;
        padding-bottom: 67.2px !important;
    }
    .international-title {
        padding-bottom: 60px !important;
    }
    .container-statement .btn-meet-studio {
        margin-bottom: 27.6px !important;
    }
    .home .container-store-services .title-own,
.home .container-store .title-own {
        padding-top: 80px !important;
        padding-bottom: 16px !important;
    }
    .home .container-store-services .sub-title,
.home .container-store .sub-title {
        font-size: 7.2pt;
        padding-bottom: 16px !important;
    }
    .home .home-cards .home-card .product-meta {
        font-size: 7.2pt;
    }
    .product-meta-2 {
        font: 7.2pt;
    }
    .sub-container-store.shop {
        padding-top: 27.6px !important;
        padding-bottom: 34.8px !important;
    }
    .sub-container-store.services {
        padding-top: 8px !important;
        padding-bottom: 24px !important;
    }
    .container-manifesto .title {
        padding-top: 80px !important;
        padding-bottom: 27.6px !important;
    }
    .container-manifesto .button {
        padding-top: 27.6px !important;
        padding-bottom: 80px !important;
    }
    .container-blog .title {
        font-size: 19.6pt;
    }
    .container-blog .sub-title {
        padding-top: 34.4px !important;
    }
    .container-blog-more {
        margin-top: 27.6px !important;
        margin-bottom: 80px !important;
    }
    .container-residents>div {
        padding: 32px 0px !important;
    }
    .container-instagram {
        padding: 80px 0px !important;
    }
    .container-instagram .title {
        font-size: 12px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 576px) {
    .home .container-big-title .big-title {
        font-size: 17.7pt;
        margin: 81px 0px !important;
        margin: auto !important;
    }
    .home .container-blog .item-blog .meta-blog {
        font-size: 6pt;
    }
    .home .container-blog .item-blog .meta-blog .btn-blog {
        font-size: 5.4pt;
    }
    .container-booking {
        margin: 31.8px 0px !important;
    }
    .btn-custom-dark {
        font-size: 5.4pt;
    }
    .home .statement {
        font-size: 11.4pt;
        padding-top: 85.25px !important;
        padding-bottom: 50.4px !important;
    }
    .international-title {
        padding-bottom: 45px !important;
    }
    .container-statement .btn-meet-studio {
        margin-bottom: 20.70px !important;
    }
    .home .container-store-services .title-own,
.home .container-store .title-own {
        padding-top: 60px !important;
        padding-bottom: 12px !important;
    }
    .home .container-store-services .sub-title,
.home .container-store .sub-title {
        font-size: 5.4pt;
        padding-bottom: 12px !important;
    }
    .home .home-cards .home-card .product-meta {
        font-size: 5.4pt;
    }
    .product-meta-2 {
        font: 5.4pt;
    }
    .sub-container-store.shop {
        padding-top: 20.7px !important;
        padding-bottom: 26.1px !important;
    }
    .sub-container-store.services {
        padding-top: 6px !important;
        padding-bottom: 18px !important;
    }
    .container-manifesto .title {
        padding-top: 60px !important;
        padding-bottom: 20.7px !important;
    }
    .container-manifesto .button {
        padding-top: 20.7px !important;
        padding-bottom: 60px !important;
    }
    .container-blog .title {
        font-size: 14.7pt;
    }
    .container-blog .sub-title {
        padding-top: 25.8px !important;
    }
    .container-blog-more {
        margin-top: 20.7px !important;
        margin-bottom: 60px !important;
    }
    .container-residents>div {
        padding: 24px 0px !important;
    }
    .container-instagram {
        padding: 60px 0px !important;
    }
    .container-instagram .title {
        font-size: 9px;
        margin-bottom: 15px;
    }
}