@media (min-width: 1200px) {
    .container-loja {
        max-width: 1920px;
        height: 100%;
        max-height: 840px;
        min-height: 400px;
    }
}

.loja-background {
    background-image: url(../image/Loja/loja_header.jpg);
    max-height: 840px;
    height: 100%;
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    margin-bottom: 0;
    background-position: center top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 80vh;
}

.container-big-title {
    max-height: 774px;
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-big-title .big-title {
    font-family: Monument Extended;
    /* font-size: 59px; */
    font-size: calc(30px + (59 - 30) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1;
    text-align: center;
    margin: 15% auto;
}

.product {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.name {
    font-weight: bold;
    width: 100%;
}

.name>span {
    float: right;
}

.description {}

.btn-add {
    background: #f7f7f7;
    border-radius: 25px;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
}