.manifesto-background {
    background-color: black;
}

.manifesto-text-title {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5%;
    font-family: Monument Extended;
    font-size: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
}

.manifesto-text-subtitle {
    font-family: Helvetica Neue;
    font-weight: 500;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5%;
}

.manifesto-text {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.manifesto-button-1 {
    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: black;
    border-radius: 30px;
    margin: 5% 0;
    padding: 10px 60px;
    display: inline-block;
    cursor: pointer;
}

.manifesto-button {
    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: black;
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 10px 100px;
    display: inline-block;
    cursor: pointer
}