.product-page-main-container {
    background-color: #f7f7f7;
    padding: 100px 40px 0px 40px !important;
}

.product-page-info-box-container>* {
    padding: 0 0 16px;
}

@media only screen and (min-width: 768px) {
    .product-page-main-container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: space-between;
        padding: 0px 40px;
        order: 2;
    }
}

@media only screen and (min-width: 1024px) {
    .product-page-info-box {
        width: 430px;
        order: 1;
    }
}

@media only screen and (min-width: 768px) {
    .product-page-info-box {
        width: 430px;
        order: 1;
    }
}

.product-page-info-box {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    order: 1;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .product-page-media {
        padding-right: 0;
    }
}

@media only screen and (min-width: 768px) {
    .product-page-media {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-item-align: start;
        align-self: flex-start;
        display: block;
        position: relative;
        padding: 0 48px;
        flex-shrink: 0;
        text-align: center;
        order: 2;
    }
}

.product-page-thumbs-mq-medium {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 8px 0 0;
    width: 100%;
}

.product-page-info-box-container {
    width: 100vw;
}

@media only screen and (min-width: 768px) {
    .product-page-info-box-container {
        width: 430px;
        position: relative;
        background-color: white;
        padding: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .product-page-title {
        display: block;
        text-align: center;
    }
    .product-page-sub-title {
        display: block;
        text-align: center;
    }
    .product-page-excerpt {
        padding: 10px 15px;
    }
}

.product-page-title {
    margin: 0;
    font-family: 'Monument Extended';
    font-size: 21pt;
    font-weight: bold;
}

.product-page-sub-title, .product-page-excerpt, .product-page-more-details {
    font-size: 18pt;
    font-weight: 300;
}

.product-page-more-details {
    letter-spacing: 1px;
    display: inline-block;
    line-height: 1;
    text-decoration: underline;
}

.radios-container {
    display: flex;
    flex-wrap: wrap;
}

.radios-input[type=radio] {
    opacity: 0;
    width: 1px;
    height: 1px;
    margin: 0;
}

.radios-option-label {
    font-size: 16pt;
}

.radios-main {
    align-items: center;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: flex;
    font-size: 16pt;
    font-style: normal;
    font-weight: 400;
    height: 63px;
    line-height: 24px;
    margin-left: -1px;
    padding-bottom: 16px;
    padding-right: 16px;
    text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
    text-size-adjust: 100%;
}

.radios-value-button {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    cursor: default;
    display: block;
    font-size: 11pt;
    font-style: normal;
    font-weight: 400;
    height: 47px;
    letter-spacing: 1px;
    line-height: 24px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 96.9062px;
}

.radios-value-button>* {
    border: 2px solid #eaeaea;
    color: black;
    line-height: 43px;
    height: auto;
    background: 0 0;
    text-align: center;
    border-radius: 25px;
}

.radios-swatch-button {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    padding-bottom: 0;
    background-size: cover;
}

.product-form-price {
    font-family: Helvetica;
    font-size: 22pt;
    font-weight: bold;
}

.product-form-button-container {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px
}

.product-form-add-to-cart {
    width: 100%;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-form-buy-it-now {
    width: 100%;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 64px;
    text-transform: uppercase;
}

.social-share-link {
    color: black;
    font-size: 32px;
    margin-right: 20px;
}

.social-share-link:hover {
    color: #000;
}

.product-page-thumbs {
    order: 3;
}

.product-page-thumbs .thumbs {
    display: flex;
    flex-direction: column;
}

.container-width {
    background-color: #f7f7f7;
    padding-bottom: 140px;
}

.container-related {
    max-width: 1400px;
    margin: auto;
}

.container-related .related {
    text-align: center;
    font-size: 25pt;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    padding-top: 39px;
    margin-bottom: 39px;
}

@media only screen and (max-width: 767px) {
    .product-page-main-container {
        display: block;
    }
    .product-page-thumbs .thumbs {
        display: flex;
        flex-direction: row;
        margin: 0px;
    }
    .product-page-thumbs .thumbs>div {
        margin-right: 20px;
    }
}


/* RESPONSIVIDADE*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .product-page-main-container {
        margin-top: 62.5px; /* tenho que mudar para margin para ficar com o fundo cinza */
    }
    .product-page-title {
        font-size: 14.38pt;
    }
    .product-page-sub-title {
        font-size: 11.25px;
    }
    .radios-main {
        font-size: 10px;
    }
    .product-form-price {
        font-size: 13.75pt;
    }
    .product-form-buy-it-now {
        margin-bottom: 40px;
    }
    .container-related .related {
        font-size: 15.63pt;
        padding-top: 24.38px;
        margin-bottom: 24.38px;
    }
    .container-width {
        padding-bottom: 87.5px;
    }
    .product-page-sub-title, .product-page-excerpt, .product-page-more-details {
        font-size: 11.25pt;
    }
    .radios-option-label, .radios-value-button {
        font-size: 10pt;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .product-page-main-container {
        margin-top: 51.67px;
    }
    .product-page-title {
        font-size: 11.88pt;
    }
    .product-page-sub-title {
        font-size: 9.3px;
    }
    .radios-main {
        font-size: 8.27px;
    }
    .product-form-price {
        font-size: 11.37pt;
    }
    .product-form-buy-it-now {
        margin-bottom: 33.07px;
    }
    .container-related .related {
        font-size: 12.92pt;
        padding-top: 20.15px;
        margin-bottom: 20.15px;
    }
    .container-width {
        padding-bottom: 72.33px;
    }
    .product-page-sub-title, .product-page-excerpt, .product-page-more-details {
        font-size: 9.3pt;
    }
    .radios-option-label, .radios-value-button {
        font-size: 8.27pt;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .product-page-main-container {
        margin-top: 40px;
    }
    .product-page-title {
        font-size: 9.2pt;
    }
    .product-page-sub-title {
        font-size: 7.2px;
    }
    .radios-main {
        font-size: 6.4px;
    }
    .product-form-price {
        font-size: 8.8pt;
    }
    .product-form-buy-it-now {
        margin-bottom: 25.6px;
    }
    .container-related .related {
        font-size: 10pt;
        padding-top: 15.6px;
        margin-bottom: 15.6px;
    }
    .container-width {
        padding-bottom: 56px;
    }
    .product-page-sub-title, .product-page-excerpt, .product-page-more-details {
        font-size: 7.2pt;
    }
    .radios-option-label, .radios-value-button {
        font-size: 6.4pt;
    }
}

@media only screen and (max-width: 576px) {
    .product-page-main-container {
        margin-top: 30px;
    }
    .product-page-title {
        font-size: 6.9pt;
    }
    .product-page-sub-title {
        font-size: 5.4px;
    }
    .radios-main {
        font-size: 4.8px;
    }
    .product-form-price {
        font-size: 6.6pt;
    }
    .product-form-buy-it-now {
        margin-bottom: 19.2px;
    }
    .container-related .related {
        font-size: 7.5pt;
        padding-top: 11.7px;
        margin-bottom: 11.7px;
    }
    .container-width {
        padding-bottom: 42px;
    }
    .product-page-sub-title, .product-page-excerpt, .product-page-more-details {
        font-size: 5.4pt;
    }
    .radios-option-label, .radios-value-button {
        font-size: 4.8pt;
    }
}