@media (min-width: 1200px) {
    .container-black {
        max-width: 1920px;
    }
    .container-residents {
        max-width: 1420px;
    }
}

.container-residents>.row>div {
    max-width: 660px;
}

.black-background {
    background-image: url(../image/Residency/reasidency_header.jpg);
    height: 840px;
    margin-bottom: 270px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
}

.residency-title {
    font-family: Monument Extended;
    font-size: 58pt;
    text-align: center;
    color: white;
}

.meet-residents {
    font-family: Monument Extended;
    font-size: 49pt;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 270px;
}

.nome-resident {
    font-family: Monument Extended;
    font-size: 37pt;
    text-transform: uppercase;
    padding-bottom: 4%;
}

.about-block {
    font-weight: 600;
    text-transform: uppercase;
}

.intro-block {
    padding-bottom: 4%;
}

.story-block {
    text-transform: uppercase;
    font-weight: 600;
}

.style-title {
    text-transform: uppercase;
    font-weight: 600;
    padding: 5% 0 3% 0;
}

.residents-respons {
    margin-left: 100px;
}

.photo-respons {
    max-width: 27%;
}

.photo-button {
    border: 3px solid black;
    border-radius: 30px;
    padding: 6px 22px;
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10pt;
}

.book-button {
    border: 3px solid black;
    border-radius: 30px;
    padding: 6px 59px;
    background-color: black;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 10pt;
}

.ill-button {
    border: 3px solid black;
    border-radius: 30px;
    padding: 6px 35px;
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10pt;
}

.ill-respons {
    max-width: 28% !important;
}

.sketch-respons {
    max-width: 25%;
}

.sketch-button {
    border: 3px solid black;
    border-radius: 30px;
    padding: 6px 45px;
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10pt;
}

.water-button {
    border: 3px solid black;
    border-radius: 30px;
    padding: 6px 35px;
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10pt;
}

.book-jose-button {
    border: 3px solid black;
    border-radius: 30px;
    padding: 6px 90px;
    background-color: black;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 10pt;
    margin-top: 3%;
}

.bg-button {
    border: 3px solid black;
    border-radius: 30px;
    padding: 6px 22px;
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10pt;
}

.book-diogo-button {
    border: 3px solid black;
    border-radius: 30px;
    padding: 6px 74px;
    background-color: black;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 10pt;
    margin-top: 3%;
}

.line-respons {
    max-width: 25%;
}

.book-tiago-button {
    border: 3px solid black;
    border-radius: 30px;
    padding: 6px 40px;
    background-color: black;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 10pt;
    margin-top: 3%;
}

.life-title {
    font-family: Resavska;
    font-size: 70pt;
    text-align: center;
    margin-bottom: 200px;
}

.next-button {
    border: 3px solid black;
    border-radius: 30px;
    padding: 6px 50px;
    background-color: black;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 10pt;
}

.two-buttons {
    max-width: 70%;
    margin: auto;
    margin-bottom: 120px;
}

.hunger-title-two {
    font-family: Monument Extended;
    font-size: 39pt;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 200px;
}

.manifesto-title-two {
    font-family: Helvetica Neue;
    font-weight: 500;
    color: white;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 69px;
}

.ignore-text {
    font-family: Resavska;
    ;
    color: red;
    text-align: center;
    font-size: 26pt;
    text-transform: uppercase;
    padding-top: 1%;
    padding-bottom: 69px;
}

.now-button {
    text-transform: uppercase;
    color: white;
    background-color: #141714;
    border: 1px solid #14171a;
    border-radius: 30px;
    padding: 6px 230px;
}

.now-block {
    min-width: 580px;
    margin-bottom: 82px;
}

.read-block .read-now-button {
    max-width: 580px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .container-residents {
        max-width: 1120px;
    }
    .residents-respons {
        margin-left: 70px;
    }
    .photo-respons {
        max-width: 34%;
    }
    .book-button {
        padding: 6px 25px;
    }
    .ill-respons {
        max-width: 35% !important;
    }
    .sketch-respons {
        max-width: 31%;
    }
    .line-respons {
        max-width: 32%;
    }
    .ph-respons {
        max-width: 41%;
    }
    .dot-respons {
        margin-top: 2%;
    }
    .life-title {
        font-size: 60pt;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .residency-title {
        font-size: 48pt;
    }
    .meet-residents {
        font-size: 39pt;
    }
    .container-residents {
        max-width: 940px;
    }
    .nome-resident {
        font-size: 35pt;
    }
    .photo-respons {
        max-width: 40%;
    }
    .book-button {
        padding: 6px 3px;
    }
    .ill-respons {
        max-width: 41% !important;
    }
    .sketch-respons {
        max-width: 36%;
    }
    .water-respons {
        margin-top: 2%;
    }
    .ill-button {
        padding: 6px 23px;
    }
    .ph-respons {
        max-width: 49%;
    }
    .water-button {
        padding: 6px 28px;
    }
    .life-title {
        font-size: 50pt;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .container-residents {
        max-width: 730px;
    }
    .residency-title {
        font-size: 36pt;
    }
    .meet-residents {
        font-size: 33pt;
    }
    .nome-resident {
        font-size: 28pt;
    }
    .photo-respons {
        max-width: 50%;
    }
    .book-jose-button {
        padding: 6px 85px;
    }
    .line-respons {
        max-width: 34%;
    }
    .ph-respons {
        max-width: 62%;
    }
    .life-title {
        font-size: 40pt;
    }
    .two-buttons {
        max-width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .container-residents {
        max-width: 90%;
    }
    .photo-respons {
        margin-bottom: 2%;
    }
    .nome-resident {
        margin-top: 2%;
    }
    .ill-respons {
        max-width: 36% !important;
    }
    .sketch-respons {
        max-width: 32% !important;
    }
    .water-respons {
        margin-top: 2%;
    }
    .book-button {
        margin-bottom: 2%;
    }
    .book-diogo-button {
        margin-bottom: 2%;
    }
    .dot-respons {
        margin-top: 2%;
    }
    .next-button {
        margin-bottom: 2%;
    }
}