@media (min-width: 1200px) {
    .container-services {
        max-width: 1920px;
        height: 100%;
        max-height: 840px;
        min-height: 400px;
    }
    .container-gallery {
        max-width: 1640px;
    }
}

.services-background {
    background-image: url(../image/Services/services_Header.jpg);
    max-height: 840px;
    height: 100%;
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    margin-bottom: 0;
    background-position: center top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 80vh;
}

.container-big-title {
    max-height: 774px;
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-big-title .big-title {
    font-family: Monument Extended;
    /* font-size: 59px; */
    font-size: calc(30px + (59 - 30) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1;
    text-align: center;
    margin: 15% auto;
}

.container-gallery .gallery {
    margin-bottom: 80px;
}

.gallery .center-cnt {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.gallery .title {
    font-family: 'Monument Extended';
    text-align: center;
    font-size: calc(30px + (45 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.gallery .sub-title {
    text-align: center;
    font-size: 22px;
}

.gallery .divider {
    width: 70px;
    border: 1px solid;
    margin: 5% auto;
}

.gallery .description {
    max-width: 600px;
    text-align: center;
}

.gallery .button {
    text-align: center;
}

.gallery .button>button {
    border: 1px solid black;
    border-radius: 25px;
    padding-left: 65px;
    padding-right: 65px;
    margin-top: 5%;
}

.container-residents {
    background-color: #1c2745;
}

.container-residents>div {
    background-color: #1c2745;
    padding-top: 3.8%;
    padding-bottom: 3.8%;
    max-width: 1400px;
    margin: auto;
}

.container-residents .left-col {
    align-content: center;
    display: flex;
    flex-flow: column;
}

.container-residents .left-col>div {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.container-residents .title {
    text-align: center;
    /* font-size: 47px; */
    font-size: calc(34px + (43 - 34) * ((100vw - 300px) / (1600 - 300)));
    color: #d0e3fc;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 1.5;
    font-family: 'Monument Extended';
}

.container-residents .btn {
    margin-top: 25%;
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .container-residents .btn {
        margin-top: 10px;
    }
}

.container-residents .image {
    text-align: center;
    max-width: 820px;
}

.btn-custom-blue {
    background-color: #d0e3fc;
    color: #3188ec;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.container-manifesto {
    background-color: black;
    width: 100%;
}

.container-manifesto .title {
    text-align: center;
    color: white;
    font-size: calc(30px + (65 - 30) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Helvetica Neue';
    font-weight: bold;
    padding-top: 9.5%;
    padding-bottom: 3.3%;
    letter-spacing: 0.05em;
}

.container-manifesto .sub-title {
    text-align: center;
    color: white;
    padding-bottom: 1%;
    font-size: 30px;
}

.container-manifesto .red-text {
    color: red;
    text-align: center;
    font-size: 40px;
}

.container-manifesto .button {
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding-bottom: 9.5%;
    padding-top: 3.3%;
}

.container-manifesto .button button {
    color: white;
    background-color: #13171a;
    border-radius: 25px;
    width: 100%;
    text-transform: uppercase;
}

.container-life {
    max-height: 574px;
    min-height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-life .big-title {
    /* font-size: 59px; */
    font-size: calc(30px + (59 - 30) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1;
    text-align: center;
    font-family: serif;
    margin: 15% auto;
}

.container-life-2 {
    margin-bottom: 10%;
}

.container-life-2 .button {
    text-align: center;
}

.container-life-2 .button>button {
    border: 1px solid black;
    border-radius: 25px;
    padding-left: 65px;
    padding-right: 65px;
    margin-top: 5%;
}

.container-blog {
    max-width: 1400px;
    margin: auto;
}

.container-blog .sub-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 6.2%;
}

.container-blog .title {
    text-align: center;
    font-size: 40px;
    font-family: serif;
    padding-bottom: 2%;
}

.container-blog .blogs {
    width: 100%;
}

.container-blog .blogs .blog-title {
    margin-top: 20px;
    line-height: 2;
}

.container-blog .blogs .readmore {
    text-decoration: underline;
    line-height: 2;
    color: black;
}

.container-blog-more {
    width: 100%;
    text-align: center;
    margin-top: 3.3%;
    margin-bottom: 9.5%;
}