@media (min-width: 1200px) {
    .container-black {
        max-width: 1920px;
    }
    .container-story {
        max-width: 760px;
    }
}

.story-background {
    background-image: url(../image/Stories/Stories_header.jpg);
    height: 840px;
    margin-bottom: 150px;
}

.story-title {
    font-family: Monument Extended;
    text-transform: uppercase;
    font-size: 59pt;
    color: black;
    text-align: center;
    margin-bottom: 82px;
}

.story-link {
    font-family: Helvetica Neue;
    font-weight: 300;
    color: black;
    text-align: center;
}

.story-link:hover {
    font-family: Helvetica Neue;
    font-weight: 300;
    color: black;
    text-align: center;
}

.story-link:active {
    font-family: Helvetica Neue;
    font-weight: 300;
    color: black;
    text-decoration: underline;
    text-align: center;
}

.story-box {
    width: 100%;
    height: 400px;
    background-color: black;
    margin-bottom: 35px;
}

.box-title {
    font-family: Helvetica Neue;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 2%;
}

.box-date {
    font-family: Helvetica Neue;
    color: #525252;
    margin-bottom: 26px;
    font-size: 10pt;
    font-weight: 300;
    text-transform: uppercase;
}

.box-desc {
    font-family: Helvetica Neue;
    font-size: 10pt;
    font-weight: 300;
    padding-bottom: 2%;
}

.box-link {
    color: black;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 10pt;
}

.box-link:hover {
    color: black;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 10pt;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .story-title {
        font-size: 49pt;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .story-title {
        font-size: 29pt;
    }
    .story-margin {
        margin-bottom: 1%;
    }
}