@media (min-width: 1200px) {
    .container-black {
        max-width: 1920px;
    }
    .container-blue {
        max-width: 1920px;
    }
    .container-gallery {
            max-width: 1640px;
        }
    }

.black-background {
    background-image: url(../image/Aboutthestudio/abouthestudio_header.jpg);
    height: 1490px;
    width: 100%;
    margin-bottom: 178px;
    background-size: auto;
    background-repeat: no-repeat;
    margin-bottom: 150px;
    background-position: center top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.black-title {
    text-align: center;
    color: white;
    font-family: Monument Extended;
    font-size: 59pt;
    text-transform: uppercase;
}

.studio-subtitle {
    font-family: Resavska;
    font-size: 85pt;
    text-align: center;
    text-transform: uppercase;
}

.studio-desc {
    text-align: center;
}

.img-center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 130px;
    height: 660px;
}
.hunger-title {
    font-family: Monument Extended;
    font-size: 39pt;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    padding-top: 400px;
    margin-top: 500px;
}

.manifesto-title {
    font-family: Helvetica Neue;
    font-weight: 500;
    color: white;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    padding: 2% 0;
}

.read-button {
    text-transform: uppercase;
    color: black;
    background-color: white;
    padding: 6px 78px;
    border: 1px solid white;
    border-radius: 30px;
    margin-bottom: 126px;
}

.read-block {
    min-width: 260px;
    margin-bottom: 82px;
}

.read-block .read-now-button {
    max-width: 260px;
}

.read-block .read-now-button button {
    margin-right: auto;
    margin-left: auto;
}

.award-title {
    font-family: Resavska;
    font-size: 48pt;
    text-align: center;
    margin: 300px 0;
}

.viseu-title {
    font-family: Resavska;
    font-size: 37pt;
    text-transform: uppercase;
    max-width: 90%;
    margin: auto;
}

.desc {
    max-width: 90%;
    margin: auto;
}

.bang-title {
    font-family: Monument Extended;
    text-align: center;
    text-transform: uppercase;
    font-size: 39pt;
    margin-top: 200px;
    margin-bottom: 100px;
}

.services-button {
    text-transform: uppercase;
    color: white;
    background-color: black;
    padding: 5px 78px;
    border: 1px solid black;
    border-radius: 30px;
    margin-bottom: 60px;
}

.artists-title {
    font-family: Monument Extended;
    text-align: center;
    text-transform: uppercase;
    font-size: 39pt;
    color: #d3e3fa;
    margin-top: 80px;
    margin-bottom: 2%;
}

.meet-button {
    text-transform: uppercase;
    color: #326ad0;
    background-color: #d3e3fa;
    padding: 6px 50px;
    border: 1px solid #d3e3fa;
    border-radius: 30px;
    margin-bottom: 80px;
}

.stories-subtitle {
    text-transform: uppercase;
    text-align: center;
    margin-top: 86px;
    font-weight: 700;
    font-size: 10pt;
}

.stories-title {
    font-family: Resavska;
    text-align: center;
    font-size: 39pt;
}

.box-one {
    width: 100%;
    height: 250px;
    background: black;
    margin-bottom: 6%;
}

.box-text {
    font-family: Helvetica Neue;
    font-weight: 300;
}

.read-more {
    font-family: Helvetica Neue;
    font-weight: 300;
    font-size: 10pt;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
}

.read-more:hover {
    font-family: Helvetica Neue;
    font-weight: 300;
    font-size: 10pt;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
}

.discover-button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10pt;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 6px 28px;
    margin-top: 69px;
    margin-bottom: 200px;
}

.hunger-title-two {
    font-family: Monument Extended;
    font-size: 39pt;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 200px;
}

.manifesto-title-two {
    font-family: Helvetica Neue;
    font-weight: 500;
    color: white;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 69px;
}

.ignore-text {
    font-family: Resavska;;
    color: red;
    text-align: center;
    font-size: 26pt;
    text-transform: uppercase;
    padding-top: 1%;
    padding-bottom: 69px;
}

.now-button {
    text-transform: uppercase;
    color: white;
    background-color: #141714;
    border: 1px solid #14171a;
    border-radius: 30px;
    padding: 6px 232px;
}

.now-block {
    min-width: 590px;
    margin-bottom: 82px;
}

.read-block .read-now-button {
    max-width: 580px;
}

.img-resident {
    max-width: 80%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .black-title {
        font-size: 49pt;
    }
    .studio-subtitle {
        font-size: 65pt;
    }
    .studio-desc {
        font-size: 12pt;
    }
    .award-title {
        font-size: 42pt;
    }
    .viseu-title {
        font-size: 30pt;
    }
    .desc {
        font-size: 10pt;
    }
    .read-block {
        min-width: 280px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .black-title {
        font-size: 39pt;
    }
    .studio-subtitle {
        font-size: 45pt;
    }
    .studio-desc {
        font-size: 11pt;
    }
    .award-title {
        font-size: 38pt;
    }
    .viseu-title {
        font-size: 23pt;
    }
    .desc {
        font-size: 9pt;
    }
    .read-block {
        min-width: 360px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .black-title {
        font-size: 29pt;
    }
    .studio-subtitle {
        font-size: 65pt;
    }
    .award-title {
        font-size: 30pt;
    }
    .viseu-title {
        font-size: 17pt;
    }
    .desc {
        font-size: 8pt;
    }
    .read-block {
        min-width: 270px;
    }
}

@media only screen and (max-width: 576px) {
    .black-title {
        font-size: 21pt;
    }
    .studio-subtitle {
        font-size: 45pt;
    }
    .award-title {
        font-size: 22pt;
    }
    .viseu-title {
        font-size: 17pt;
    }
    .desc {
        font-size: 8pt;
        margin-bottom: 4%;
    }
    .bang-title {
        font-size: 29pt;
    }
    .read-block {
        max-width: 70%;
    }
    .artists-title {
        font-size: 29pt;
    }
    .artists-respons {
        max-width: 50%;
    }
    .story-respons {
        margin-bottom: 4%;
    }
}